<!DOCTYPE html>
<html lang="en" style="font-size: 15px;"></html>
<head>
  <meta charset="utf-8">
  <title>Forgot Passward</title>
  <link rel="stylesheet" type="text/css" href="../css/forgot_password.css" />
</head>

<body>
  <div class="forgot_password_page">
      <div class="logo_part">
        <a href="index.html">
          <img class="logo" src="../image/logo.png"/>
        </a>
      </div>
      <h1 dir="auto" role="heading" class="forgot_password_title">
        <span>Forgot Password</span>
      </h1>

      <!-- changed action to /login -->
      <form novalidate class="information" action="/forgot_password" method="post">
        <div class="username_box">
          <div class="username_box2" dir="auto">
            <div>
              <span class="username_title">Username</span>
            </div>
            <div dir="auto">
              <!-- changed name from "session[username_or_email]" to email -->
                <input name="username" type="text" dir="auto" class="input_username">
            </div>
          </div>
        </div>

        <div role="button" class="button_box" data-testid="">
          <div dir="auto" class="">
            <!--change button to input type =submit-->
           <input type ="submit" value="reset passward" name = "" class="reset_button">
          </div>
        </div>
      </form>

      <div class="tool_box">
          <a href="login.html" role="link" class="login" style="text-decoration:none;">
            Login
          </a>
      </div>
  </div>
  <script src="../script/login_reg_script.js">

  </script>
</body>
</html>
